#topcar{
    width: 100%;
    height: 50vw;
    margin: 0vw;
    border: 0vw;
    opacity: 0.8;
}
body{
    margin: 0vw;
    padding: 0px;
    background-color: bisque;
    overflow:auto;
}

.topmenu{
    display: flex;
    background-color: bisque;
    height: auto;
    margin: 0px;
    border: 0cap;
    
    
    
}
.topmenu div{
    
    margin-top: 5vw;
    font-size: 2vw;
    padding: auto;
    margin: auto;
    
}
.imgmenu p{
    background-color: azure; opacity: 0.7; font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

div #intr{
    text-align: center;
    text-decoration: dotted;
}
div #contintr{
    font-size: 2vw;
    margin: auto;
    padding: 5%;
}

#spy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: auto;
}
