#topcar{
    width: 100%;
    height: 500px;
    margin: 0px;
    border: 0px;
    opacity: 0.8;
}
body{
    margin: 0%;
    padding: 0px;
    background-color: bisque;
    overflow:auto;
}

.topmenu{
    display: flex;
    background-color: bisque;
    height: auto;
    margin: 0px;
    border: 0cap;
    
    
    
}
.topmenu div{
    
    margin-top: 15px;
    font-size: 30px;
    padding: auto;
    margin: auto;
    
}
.imgmenu p{
    background-color: azure; opacity: 0.7; font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

div #intr{
    text-align: center;
    text-decoration: dotted;
}
div #contintr{
    font-size: 40px;
    margin: auto;
    padding: 30px;
}